cert-core>=2.1.8
cert-schema>=2.1.5
cert-verifier>=2.0.13
configargparse>=0.13.0
flasgger>=0.8.3
Flask>=1.0
Flask-PyMongo>=0.5.1
Flask-Themes2==0.1.4
Flask-WTF>=0.14.2
mandrill>=1.0.57
mock>=2.0.0
pymongo>=3.6.1
pyOpenSSL==17.5.0
python-bitcoinlib>=0.10.1
requests>=2.18.4
simplekv>=0.11.8
tox>=3.0.0
Werkzeug>=0.14.1
WTForms>=2.1
