{% extends "layout.html" %}

{% block title %}
Verified Certificate
{% endblock %}

{% block content %}
  <!-- Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

      <div class="issuer-logo">
        <img src="/static/img/lm.jpg"/>
      </div>

      <div class="certificate-owner">
        <h1>{{award.name}}</h1>
      </div>

      <div class="certificate-meta">
        <span class="certificate-name">{{award.title}}</span>
        <span class="issuer-name">{{award.organization}}</span>
        <span class="date-span">{{award.subtitle}}</span>
      </div>

      <div class="description">
        <p>{{award.text}}</p>
      </div>

      <div class="contact-information">
        <ul>
          <li class="location">Cambridge, MA</li>
          <li class="link"><a href="http://www.learningmachine.com" target="_blank">Learningmachine.com</a></li>
          <li class="email"><a href="mailto:info@learningmachine.com">info@learningmachine.com</a></li>
        </ul>
      </div>

      <div class="verify">
        <p>This certificate was digitally signed by Learning Machine and registered on the Bitcoin blockchain.</p>
        <button id="verify-button" value="{{verification_info}}">Verify certificate</button>
        <span id="verified" class="verified"><img id="verified-icon" src="/static/img/verified.svg"> Verified </span>
        <span id="not-verified" class="not-verified"><img id="not-verified-icon" src="/static/img/not-verified.svg"> Not Verified </span>

        <ul id="progress-msg" class="verifying">
            <li>Step 1 of 5... Computing SHA256 digest of local certificate [DONE]</li>
            <li>Step 2 of 5... Fetching hash in OP_RETURN field [DONE]</li>
            <li>Step 3 of 5... Comparing local and blockchain hashes [PASS]</li>
            <li>Step 4 of 5... Checking Media Lab signature [PASS]</li>
            <li>Step 5 of 5... Checking not revoked by issuer [PASS]</li>
            <li>Success! The certificate has been verified.</li>
        </ul>
      </div>

      <div class="public-key">
        <strong>Public Key:</strong> <span class="key"><a href="{award.publicKeyURL}}">{award.publicKeyURL}}</a></span>
      </div>

      <div class="row blockchain-address">
        <strong>Blockchain Address:</strong> <span class="address">
          <a href="{{award.transactionIDURL}}">{{award.transactionIDURL}}</a> </span>
      </div>

  </div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/verification.js"></script>
{% endblock %}
