{% extends "layout.html" %}

{% block css %}
  <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-4">
    <img src="/static/img/logo.png" class="img-responsive" alt="Your logo"/>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <h3 class="heading font-bold name">Digital Certificates Viewer</h3>
    {% if messages %}
        <h3 class="heading font-bold" id="prompt-header">Check Your Inbox</h3>
        <p class="description font-light">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </p>
    {% else %}
    <p class="description font-light">
    Chris: <a href="/https://hr.learningmachine.com/133d92fd32cc06bd63d3a653"></a><br>
    Paul: <a href="https://hr.learningmachine.com/1973d69f43d78eebb27b476a"></a><br>
    Dan: <a href=https://hr.learningmachine.com/28801c249f715c1d794f4e23"></a><br>
    Randy: <a href=https://hr.learningmachine.com/29bfb45963e03e87c5e8adf7"></a><br>
    Justin: <a href=https://hr.learningmachine.com/3630d05812476e64f2d3a64b"></a><br>
    Brian: <a href=https://hr.learningmachine.com/384a52daa37f1bc704b5e085"></a><br>
    Adan: <a href=https://hr.learningmachine.com/3ef0aed1b5aefc2766a05c52"></a><br>
    Matthieu: <a href=https://hr.learningmachine.com/4537b5913f26cbd4d0593fa0"></a><br>
    Philip: <a href=https://hr.learningmachine.com/4cef37216bce47fab444e9ce"></a><br>
    Ted: <a href=https://hr.learningmachine.com/4f4ce4b4ae5f57da2e8d7f88"></a><br>
    Dimi: <a href=https://hr.learningmachine.com/61db7ef11a1897fb1f7b8baa"></a><br>
    Natalie: <a href=https://hr.learningmachine.com/72c66131f89b39c243b40983"></a><br>
    Chad: <a href=https://hr.learningmachine.com/7713c6a7e21443703d863dcd"></a><br>
    Josh: <a href=https://hr.learningmachine.com/7c1891b6c41887a67f1a46b1"></a><br>
    Kim: <a href=https://hr.learningmachine.com/a3059aab8b62548f2b7911d5"></a><br>
    Ryan: <a href=https://hr.learningmachine.com/c83013081cb4c0c4af87f7b8"></a><br>
    Eric: <a href=https://hr.learningmachine.com/d065a9de49f49600b3e4aa6a"></a><br>
    Derek: <a href=https://hr.learningmachine.com/dfe939b6202751de857fcb7b"></a><br>
    </p>
    {% endif %}
    <h3 class="heading font-bold">Recently Issued</h3> 
    {% for certid in recent_certids %}
    <p class="description font-light long-word">
      <a href="/{{certid}}">{{certid}}</a>
    </p>
    {% endfor %}

  </div>
</div>
{% endwith %}
{% endblock %}

{% block scripts %}
{% endblock %}