/* styles for award.html pages */

body{
	padding: 35px;
}

.name{
	margin-top: 35px;
	margin-bottom: 15px;
}

.subtitle{
	margin: 3px 0px 3px 0px;
}

.description{
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 1.4;
}

#signature-img{
	max-height: 40px;
	margin-bottom: 70px;
}

.signature-info{
	line-height: 1.2;
}

#verify-button{
	margin-right: 5px;
}

#progress-msg{
	/*display: inline;*/
	font-size: 12px;
	text-align: left;
	display: none;
	border-top: 1px black dashed;
	border-bottom: 1px black dashed;
	padding-bottom: 10px;
	margin-bottom: 0px;
	padding-top: 12px;
}

#verified, #not-verified{
	display: none;
}

#verified-icon, #not-verified-icon{
	max-height: 25px;
}

.output-txt{
	line-height: 1.5;
}

.okay-field{
	float: right;
}

.return-fields{
	font-size: 8px;
	margin-bottom: 12px;
}

.bottom-buttons {
    margin-bottom: 2px;
}

@media print {
    div.divToPrint {
        background-color: white;
        position: fixed;
        top: 18%;
        left: 20%;
        margin: 0;
    }

    #logo{
    	width: 100px;
    }

    a[href]:after {
    	content: none !important;
  	}

  	.hide-on-print{
  		display: none;
  	}
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}
