/* styles for award.html pages */

body{
	padding: 30px;
}

.name{
	margin-top: 35px;
	margin-bottom: 15px;
}

.subtitle{
	margin: 3px 0px 3px 0px;
}

.description{
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 1.4;
}

#signature-img{
	max-height: 40px;
	margin-bottom: 70px;
}

.signature-info{
	line-height: 1.2;
}


