@font-face {
	font-family: Neue Haas Grotesk Light;
	font-weight: 350;
	src: url("/static/fonts/NHaasGroteskDSPro-35XLt.otf") format("opentype");
}

@font-face {
	font-family: Neue Haas Grotesk;
	font-weight: 550;
	src: url("/static/fonts/NHaasGroteskDSPro-55Rg.otf") format("opentype");
}

@font-face {
	font-family: Neue Haas Grotesk Bold;
	font-weight: 750;
	src: url("/static/fonts/NHaasGroteskDSPro-75Bd.otf") format("opentype");
}

body{
	padding: 40px;
}

h3{
	font-family: Neue Haas Grotesk Bold, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h4{
	font-family: Neue Haas Grotesk, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p{
	font-family: Neue Haas Grotesk Light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}