/* styles for index.html homepage */

body{
  padding: 35px;
}

.heading{
  margin-top: 25px;
  margin-bottom: 10px;
}

.description{
  line-height: 1.3;
}

.hash{
  line-height: 1.2;
}

#footer-info{
  margin-top: 30px;
}