/* styles for index.html homepage */

/*-----------------------Bootstrap Template Styles---------------------------*/

/* Base structure */
html,
body {
  height: 100%;
  background-color: #fff;
  padding: 20px;
}
body {
  color: #333;
}
.result a {
  color: #333;
}
.description{
  line-height: 1.3;
}
#verify-button{
  /*margin-bottom: 40px;*/
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
/* Cover */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
}
.cover-heading{
  margin-bottom: 10px;
  margin-top: 25px;
}
/* Footer */
.mastfoot {
  color: #333; /* IE8 proofing */
  text-align: center;
}
/* Affix and center */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
/*-----------------------------------------------------------------------------*/

/* QR Reader Functionality Styles */

.qr-input{
  display: none !important;
}

.qr-canvas{
  display: none !important;
}

