{% extends theme("layout.html") %}

{% block css %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ theme_static('css/awards.css') }}">
{% endblock %}

{% block content %}
    <div class="divToPrint">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-4">
                <img src="{{ award.logoImg }}" id="logo" class="img-responsive" alt="Your logo"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h3 class="name font-bold"> {{ award.name }}</h3>
                <h4 class="subtitle"> {{ award.title }} </h4>
                <h4 class="subtitle"> {{ award.organization }}</h4>
                <h4 class="subtitle">{{ award.subtitle }}</h4>
                <p class="description font-light"> {{ award.text }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-5 col-xs-4 col-xs-offset-7">
                <img src="{{ award.signatureImg }}" class="img-responsive" id="signature-img" alt="Signature"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h6 class="signature-info">This certificate was digitally signed by the <span
                        class="no-wrap">{{ award.organization }}</span> and registered on the Bitcoin blockchain.</h6>
            </div>
        </div>
        <div class="row hide-on-print">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <button class="btn btn-sm btn-default hide-on-print" id="verify-button" value="{{ verification_info }}">
                    Verify certificate
                </button>


                <span id="verified"> <img id="verified-icon" src="{{ theme_static('img/verified.png') }}"/> Verified </span>
                <span id="not-verified"> <img id="not-verified-icon"
                                              src="{{ theme_static('img/not-verified.png') }}"/> Not Verified</span>
            </div>
        </div>
        <div class="row hide-on-print">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h6 id="progress-msg" class="long-word output-txt"></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h6 class="signature-info">Issuer ID: <a href="{{ award.issuerID }}"><span
                        class="font-light long-word">{{ award.issuerID }}</span></a></h6>
                <h6 class="signature-info">Blockchain Transaction ID: <a target="_blank"
                                                                         href="{{ award.transactionIDURL }}"><span
                        class="font-light long-word">{{ award.transactionID }}</span></a></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <a href="" class="no-decoration">
                <button class="btn btn-sm btn-default hide-on-print" id="print-btn">Print</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/verification.js"></script>
    <script src="/static/js/print.js"></script>
{% endblock %}
 
