{% extends theme("layout.html") %}

{% block css %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ theme_static('css/index.css') }}">
    <link rel=stylesheet type=text/css href="{{ theme_static('css/faq.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <img src="{{ theme_static(config.ISSUER_LOGO_PATH) }}" class="img-responsive" alt="Your logo"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <h3 class="heading font-bold name">Blockchain Certificates <br> FAQ</h3>
            <h5 class="faq-title"><strong>What are the blockchain certificates?</strong></h5>
            <p class="description font-light faq-text">
                In essence, they are digital representations of your physcial certificates. Technically, we create a
                JSON that contains the certificate information, then sign and hash it, and place the hash on the Bitcoin
                blockchain. If you'd like to learn more about their architecture, please check out the <a
                    href="http://www.blockcerts.org/" target="_blank"> Blockchain Certificates Project website </a>.
            </p>
        </div>
    </div>
{% endblock %}
