
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">
    <title>certs.media.mit.edu</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner"></div>
          </div> 
          <div class="inner cover">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-4">
                  <a href="http://media.mit.edu">
                    <img src="/static/img/mllogo.png" alt="MIT Media Lab" class="img-responsive"/>
                  </a>
                </div>
              </div>
            <h3 class="cover-heading font-bold">MIT Media Lab<br>Digital Certificates</h3>
            <p class="font-light description">
              A new research project to critically explore notions of social capital and reputation, empathy and gift economies, and social behavior. Digital certificates are registered on the blockchain, cryptographically signed, and tamper proof.</p>
            <h3 class="cover-heading font-bold">Verify Certificate</h3>
            <p class="font-light description">Scan your certificate's QR code to view and verify the certificate. Click the button below to install a QR code reader.</p>
            <p class="lead font-light" id="QR-buttons">
              <a href="https://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609" target="_blank"><button class="btn btn-lg btn-default">iOS</button></a>
              <a href="https://market.android.com/details?id=com.threegvision.products.inigma.Android" target="_blank"><button class="btn btn-lg btn-default">Android</button></a>
            </p>
            <h6>Contact: <span class="font-light"><a href="mailto:certs@media.mit.edu">certs@media.mit.edu</a></span>
            <h6>Project Team: <span class="font-light">Juliana Nazar&eacute;, Katherine McConachie, Srishti Sethi, Guy Zyskind, Philipp Schmidt [PI]</span></h6>
            <h6><span class="no-wrap">MIT Media Lab </span><span class="no-wrap">Learning Learning Initiative</span></h6>
        </div>
          <div class="mastfoot"><div class="inner"></div></div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
  </body>
</html>
