{% extends "layout.html" %}

{% block title %}ML Coins{% endblock %}

{% block css %}
  <link href="/static/css/index.css" rel="stylesheet">
  <link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-4">
    <a href="http://media.mit.edu">
      <img src="/static/img/mllogo.png" class="img-responsive" alt="MIT Media Lab"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <h3 class="heading font-bold">MIT Media Lab Coins</h3>
    <p class="description font-light">
        A project by the <a href="http://learn.media.mit.edu" target="_blank">Media Lab Learning Initiative</a> that critically explores notions of social capital and reputation, empathy and gift economies, and social behavior. Digital coins are registered on the blockchain, cryptographically signed, and tamper proof.
    </p>
    <p class="description font-light">
      <a href="https://medium.com/@medialab/certificates-reputation-and-the-blockchain-aee03622426f#.tiakqzog5" target="_blank">
        Read more about the project on Medium
      </a>
    </p>
    <h3 class="heading font-bold">Search</h3>  
    <p class="description font-light">Enter your Media Lab public key to search for your coin.</p>
    <form action='/search'>
      <div class="input-group input-group-lg" id="search-box">
        <input class="form-control" id="term" name="term" placeholder="" type="text" value="">
      </div>
      <button type="submit" class="btn btn-default btn-margin">Submit</button>
    </form>
    <h3 class="heading font-bold">Request Your Coin</h3> 
    <p class="description font-light">
      <a href="/request"> Alums, would you like a Media Lab coin? Request one here. </a>
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/register.js"></script>
{% endblock %}