{% extends "layout.html" %}

{% block title %}ML Coins{% endblock %}

{% block css %}
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/manual.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-4">
    <a href="http://media.mit.edu">
      <img src="/static/img/mllogo.png" class="img-responsive" alt="MIT Media Lab"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <h3 class="heading font-bold">Manually Verify a Coin</h3>
    <p class="description font-light faq-text">
        To manually verify a coin, follow the instructions below. These instructions will require Python 2.7 and the Python <a href="https://github.com/petertodd/python-bitcoinlib">bitcoinlib library</a>.
    </p>
    <br>
    <h5 class="faq-title"><strong>1. Download the local coin and Blockchain transaction</strong></h5>
    <p class="description font-light faq-text">
        To compare the local coin to the one transacted on the blockchain, first download the local copy of the coin and the JSON of your coin's transaction from the blockchain.info API.
    </p>
    <p class="description font-light faq-text">
      <a href="{{local_download_url}}" download="local-coin.json">
        <button class="btn btn-sm btn-default bottom-buttons">Download local coin</button>
      </a>
    </p>
    <p class="description font-light faq-text">
      <a href="data:{{blockchain_download}}" download="blockchain-transaction.json">
        <button class="btn btn-sm btn-default bottom-buttons">Download blockchain transaction</button>
      </a>
    </p>
    <br>
    <h5 class="faq-title"><strong>2. Check that the coin was authored by the Media Lab</strong></h5>
    <p class="description font-light faq-text">
        To do this, we will verify that the signature in the local coin file was signed by the Media Lab's private key.
        {{highlighted_snippets[0]}}
    </p>
    <br>
    <h5 class="faq-title"><strong>3. Compare the hash of the local certificate to the one on the blockchain</strong></h5>
    <p class="description font-light faq-text">
        {{highlighted_snippets[1]}}
    </p> 
    <br>
    <h5 class="faq-title"><strong>4. Check that the certificate has not been revoked</strong></h5>
    <p class="description font-light faq-text">
        {{highlighted_snippets[2]}}
    </p> 
    <br>
    <h5 class="faq-title"><strong>5. Check that all three criteria are met and return if the coin is valid or not.</strong></h5>
    <p class="description font-light faq-text">
        {{highlighted_snippets[3]}}
    </p>
    <br>
    <h5 class="faq-title"><strong>Want to download the entire script?</strong></h5>
    <p class="description font-light faq-text">
      <a href="/manual-verification-script">Download the entire script here.</a>
    </p>         
  </div>
</div>
{% endblock %}
