
.verified{
	display: block;
	font-size: 12px;
	color: rgba(0,0,0,.6);
	margin-left: -16px;
}

.success{
	background-image: url("/static/img/verified.svg");
	background-repeat: no-repeat;
	background-size: 17px;
	padding-left: 20px;
	margin-left: 8px;
}


.issuer-logo{margin-bottom: 30px;max-width: 350px;}
.issuer-logo img{width: 100%;}
.certificate-owner{margin-bottom: 15px;}
.certificate-meta{font-size: 1.85rem;line-height: 1.4;font-weight: 400;letter-spacing: -0.05rem;}
.issuer-name{display: block;}
.date-span{display: block;}

.main-content{margin: 80px auto 0 auto;}

.contact-information{margin-top: 2rem;}
.contact-information li {list-style-type: none;padding-left: 28px; background-repeat: no-repeat; background-size: 18px; background-position-y: 5px; }
.contact-information li.location{background-image: url("/static/img/location.svg");}
.contact-information li.link{background-image: url("/static/img/link.svg");}
.contact-information li.email{background-image: url("/static/img/email.svg");}
.contact-information a{color: #000;}

.description{margin-top: 3rem;font-weight: 200;}

.public-key, .blockchain-address, .done-verifying{margin-top: 12px; overflow-wrap:break-word;}
.done-verifying{text-align: center; top: 48px;}
.verify{margin: 48px 0 24px 0;font-size: 1.3rem;}
.verify p{margin-bottom: 10px;}
.verified, .not-verified{display: inline;margin-left: 12px;font-weight: bold;color: #000;}
.verified img, .not-verified img{width: 20px;top:5px; position: relative;}
.not-verified{color: #D80028;}
ul.verifying{
	list-style-type: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
	margin-bottom: 24px;
	margin-top: 12px;
}
.public-key, .blockchain-address{font-size: 1.3rem;}




#verified, #not-verified{
	display: none;
}

#progress-msg{
  display: none;
}


